h1,h2,h3 {
    color: rgb(240, 204, 0);
    background-color: darkslategray;
    padding: 5px;
    border: 2px solid rgb(240, 204, 0);
}

body {
    background-color: rgb(43, 43, 43)
}

* {
    color:rgb(240, 204, 0);
}

a {
    color: rgb(0, 255, 255);
}

.box {
    height: 75px;
    width: 105px;
}