html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.title {
  margin-bottom: 30px;
}

nav {
  margin-left: 15px;
}

h1,
h2,
h3 {
  color: rgb(240, 204, 0);
  background-color: darkslategray;
  padding: 5px;
  border: 2px solid rgb(240, 204, 0);
}

h1 {
  font-size: 35px;
}

body {
  background-color: rgb(43, 43, 43);
  max-width: 825px;
  margin: 0 auto;
}

* {
  color: rgb(240, 204, 0);
}

.box {
  height: 90px;
  width: 125px;
  box-sizing: border-box;
  text-align: center;
}

p {
  line-height: 1.5;
}

/* LINKS */

a:link {
  text-decoration: none;
  color: rgb(0, 255, 255);
}

a:visited {
  color: rgb(0, 255, 255);
}

a:hover {
  color: rgb(240, 204, 0);
  font-weight: bold;
  text-decoration: underline dotted;
}

a:active {
  background-color: darkslategrey;
}
/* LVHA */
